<h1>
{% if user.is_authenticated %}
	Welcome back to my blog, {{ user.username }}!
	<a href="{% url 'logout' %}">
		Log Out
	</a>
{% else %}
	Hello and welcome to my blog!
	<br>
	<a href="{% url 'register' %}">
		Register
	</a>
	<br>
	<a href="{% url 'login' %}">
		Log In
	</a>
{% endif %}
</h1>

{% block content %}
<p>
	Blogposts
</p>

<a href="{% url 'new_post' %}">
	Add a new post
</a>

<ul>
	{% for post in blogposts %}
		<li>
			<p>
				{{ post.date_added|date:'M d, Y H:i' }}
				<br/>
				{{ post.owner }}
			</p>
			<p>
				{{ post.title|linebreaks }}
			</p>
			<p>
				{{ post.text|linebreaks }}
			</p>
			<p>
				<a href="{% url 'edit_post' post.id %}">
					edit
				</a>
			</p>
		</li>
	{% empty %}
		<li>
			<p>
				There are no entries yet!
			</p>
		</li>
	{% endfor %}
</ul>
{% endblock content %}